<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>planet_100_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,106}</string>
                <key>spriteSourceSize</key>
                <string>{105,106}</string>
                <key>textureRect</key>
                <string>{{465,493},{105,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_100_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{355,493},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_150_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,169}</string>
                <key>spriteSourceSize</key>
                <string>{171,171}</string>
                <key>textureRect</key>
                <string>{{184,493},{169,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_150_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,181}</string>
                <key>spriteSourceSize</key>
                <string>{181,181}</string>
                <key>textureRect</key>
                <string>{{1,493},{181,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_200_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,227}</string>
                <key>spriteSourceSize</key>
                <string>{227,227}</string>
                <key>textureRect</key>
                <string>{{572,434},{227,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_200_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,220}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{801,434},{220,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_250_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,295}</string>
                <key>spriteSourceSize</key>
                <string>{295,295}</string>
                <key>textureRect</key>
                <string>{{1308,380},{295,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_250_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,279}</string>
                <key>spriteSourceSize</key>
                <string>{279,279}</string>
                <key>textureRect</key>
                <string>{{1023,384},{279,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_300_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,339}</string>
                <key>spriteSourceSize</key>
                <string>{338,339}</string>
                <key>textureRect</key>
                <string>{{1687,1},{338,339}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_300_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,329}</string>
                <key>spriteSourceSize</key>
                <string>{329,329}</string>
                <key>textureRect</key>
                <string>{{1687,342},{329,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_350_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,377}</string>
                <key>spriteSourceSize</key>
                <string>{377,377}</string>
                <key>textureRect</key>
                <string>{{1308,1},{377,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_350_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{381,381}</string>
                <key>spriteSourceSize</key>
                <string>{381,381}</string>
                <key>textureRect</key>
                <string>{{925,1},{381,381}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_400_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,431}</string>
                <key>spriteSourceSize</key>
                <string>{431,431}</string>
                <key>textureRect</key>
                <string>{{492,1},{431,431}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_400_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,490}</string>
                <key>spriteSourceSize</key>
                <string>{489,490}</string>
                <key>textureRect</key>
                <string>{{1,1},{489,490}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>planets.png</string>
            <key>size</key>
            <string>{2026,676}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fa82c23f313273cb37d271fb944d088:28e902551794c2f520a3629f681126a9:dd932aa2135a8829ff5f576a137be835$</string>
            <key>textureFileName</key>
            <string>planets.png</string>
        </dict>
    </dict>
</plist>
