<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bola.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{357,825},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meta.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,27}</string>
                <key>spriteSourceSize</key>
                <string>{12,27}</string>
                <key>textureRect</key>
                <string>{{727,361},{12,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet/planet_100_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1719,1},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet/planet_100_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1719,107},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet/planet_150_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{156,156}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1605,751},{156,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet/planet_150_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{156,156}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1603,909},{156,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet/planet_200_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{202,204}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{1605,545},{202,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet/planet_200_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{204,204}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{1201,307},{204,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet/planet_250_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,260}</string>
                <key>spriteSourceSize</key>
                <string>{270,270}</string>
                <key>textureRect</key>
                <string>{{1501,1629},{258,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet/planet_250_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{270,270}</string>
                <key>textureRect</key>
                <string>{{1,1763},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet/planet_300_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,304}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1101,1},{304,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet/planet_300_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{306,306}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1,1181},{306,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet/planet_350_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{358,358}</string>
                <key>spriteSourceSize</key>
                <string>{370,370}</string>
                <key>textureRect</key>
                <string>{{415,1},{358,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet/planet_350_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{354,354}</string>
                <key>spriteSourceSize</key>
                <string>{370,370}</string>
                <key>textureRect</key>
                <string>{{1,825},{354,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet/planet_400_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{412,412}</string>
                <key>spriteSourceSize</key>
                <string>{420,420}</string>
                <key>textureRect</key>
                <string>{{1,1},{412,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet/planet_400_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{408,408}</string>
                <key>spriteSourceSize</key>
                <string>{420,420}</string>
                <key>textureRect</key>
                <string>{{1,415},{408,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{290,270}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{721,633},{290,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{296,270}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{613,1729},{296,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{288,270}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{911,1179},{288,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{290,270}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{911,1451},{290,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{292,268}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{1501,1359},{292,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,1}</string>
                <key>spriteSize</key>
                <string>{294,270}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{911,1723},{294,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,1}</string>
                <key>spriteSize</key>
                <string>{294,270}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{969,905},{294,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,1}</string>
                <key>spriteSize</key>
                <string>{296,270}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{1201,1177},{296,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{302,272}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{665,905},{302,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{310,270}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{1407,1},{310,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{308,272}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{1,1489},{308,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,1}</string>
                <key>spriteSize</key>
                <string>{292,270}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{1207,1721},{292,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{306,272}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{357,905},{306,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{306,270}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{775,327},{306,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{310,270}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{415,361},{310,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{300,270}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{311,1731},{300,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{296,270}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{1203,1449},{296,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,2}</string>
                <key>spriteSize</key>
                <string>{292,270}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{1013,599},{292,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,1}</string>
                <key>spriteSize</key>
                <string>{294,268}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{1307,817},{294,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,1}</string>
                <key>spriteSize</key>
                <string>{296,270}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{1307,545},{296,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{288,270}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{1499,1087},{288,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{296,274}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{309,1181},{296,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{302,274}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{607,1179},{302,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{298,272}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{311,1457},{298,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{298,272}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{611,1455},{298,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{306,270}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{1407,273},{306,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{308,270}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{411,633},{308,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worm-hole.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,324}</string>
                <key>spriteSourceSize</key>
                <string>{324,324}</string>
                <key>textureRect</key>
                <string>{{775,1},{324,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>sprites.png</string>
            <key>size</key>
            <string>{1852,2020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:653920c49fa0ba5282372afe95d898b3:81b9106798d2d6365a24e6b4fcd012f9:db71e206b3c010bfb176561963c50b15$</string>
            <key>textureFileName</key>
            <string>sprites.png</string>
        </dict>
    </dict>
</plist>
