<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bola.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{357,825},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meta.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,27}</string>
                <key>spriteSourceSize</key>
                <string>{12,27}</string>
                <key>textureRect</key>
                <string>{{725,361},{12,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet/planet_100_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1653,1351},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet/planet_100_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1653,1457},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet/planet_150_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{156,156}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1495,1351},{156,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet/planet_150_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{156,156}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1495,1509},{156,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet/planet_200_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{202,204}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{1549,821},{202,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet/planet_200_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{204,204}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{1,1761},{204,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet/planet_250_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,260}</string>
                <key>spriteSourceSize</key>
                <string>{270,270}</string>
                <key>textureRect</key>
                <string>{{1489,1723},{258,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet/planet_250_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{270,270}</string>
                <key>textureRect</key>
                <string>{{1493,1093},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet/planet_300_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,304}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1,1181},{304,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet/planet_300_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{306,306}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{775,1},{306,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet/planet_350_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{358,358}</string>
                <key>spriteSourceSize</key>
                <string>{370,370}</string>
                <key>textureRect</key>
                <string>{{415,1},{358,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet/planet_350_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{354,354}</string>
                <key>spriteSourceSize</key>
                <string>{370,370}</string>
                <key>textureRect</key>
                <string>{{1,825},{354,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet/planet_400_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{412,412}</string>
                <key>spriteSourceSize</key>
                <string>{420,420}</string>
                <key>textureRect</key>
                <string>{{1,1},{412,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet/planet_400_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{408,408}</string>
                <key>spriteSourceSize</key>
                <string>{420,420}</string>
                <key>textureRect</key>
                <string>{{1,415},{408,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{290,270}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{665,907},{290,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{296,270}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{957,907},{296,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{288,270}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{1203,1179},{288,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{290,270}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{1203,1451},{290,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{292,268}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{905,1723},{292,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,1}</string>
                <key>spriteSize</key>
                <string>{294,270}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{311,1457},{294,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,1}</string>
                <key>spriteSize</key>
                <string>{294,270}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{607,1725},{294,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,1}</string>
                <key>spriteSize</key>
                <string>{296,270}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{905,1179},{296,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{302,272}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{1387,273},{302,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{310,270}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{1083,1},{310,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{308,272}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{1,1487},{308,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,1}</string>
                <key>spriteSize</key>
                <string>{292,270}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{1255,821},{292,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{306,272}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{411,633},{306,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{306,270}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{357,907},{306,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{310,270}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{1395,1},{310,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{300,270}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{1083,549},{300,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{296,270}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{607,1453},{296,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,2}</string>
                <key>spriteSize</key>
                <string>{292,270}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{1385,549},{292,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,1}</string>
                <key>spriteSize</key>
                <string>{294,268}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{311,1729},{294,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,1}</string>
                <key>spriteSize</key>
                <string>{296,270}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{905,1451},{296,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{288,270}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{1199,1723},{288,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{296,274}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{307,1181},{296,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{302,274}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{1083,273},{302,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{298,272}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{719,633},{298,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{298,272}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{605,1179},{298,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{306,270}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{775,309},{306,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun/sun_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{308,270}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{415,361},{308,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>sprites.png</string>
            <key>size</key>
            <string>{1758,1998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1ff39d318c55b843d270e3d6e7fab6f:c982829d1d209ac14e495252b7780143:db71e206b3c010bfb176561963c50b15$</string>
            <key>textureFileName</key>
            <string>sprites.png</string>
        </dict>
    </dict>
</plist>
