<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sun_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,328}</string>
                <key>spriteSourceSize</key>
                <string>{328,328}</string>
                <key>textureRect</key>
                <string>{{1,1},{328,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,328}</string>
                <key>spriteSourceSize</key>
                <string>{328,328}</string>
                <key>textureRect</key>
                <string>{{1,331},{328,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,328}</string>
                <key>spriteSourceSize</key>
                <string>{328,328}</string>
                <key>textureRect</key>
                <string>{{1,661},{328,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,328}</string>
                <key>spriteSourceSize</key>
                <string>{328,328}</string>
                <key>textureRect</key>
                <string>{{1,991},{328,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,328}</string>
                <key>spriteSourceSize</key>
                <string>{328,328}</string>
                <key>textureRect</key>
                <string>{{1,1321},{328,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,328}</string>
                <key>spriteSourceSize</key>
                <string>{328,328}</string>
                <key>textureRect</key>
                <string>{{331,1},{328,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,328}</string>
                <key>spriteSourceSize</key>
                <string>{328,328}</string>
                <key>textureRect</key>
                <string>{{331,331},{328,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,328}</string>
                <key>spriteSourceSize</key>
                <string>{328,328}</string>
                <key>textureRect</key>
                <string>{{331,661},{328,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,328}</string>
                <key>spriteSourceSize</key>
                <string>{328,328}</string>
                <key>textureRect</key>
                <string>{{331,991},{328,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,328}</string>
                <key>spriteSourceSize</key>
                <string>{328,328}</string>
                <key>textureRect</key>
                <string>{{331,1321},{328,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,328}</string>
                <key>spriteSourceSize</key>
                <string>{328,328}</string>
                <key>textureRect</key>
                <string>{{661,1},{328,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,328}</string>
                <key>spriteSourceSize</key>
                <string>{328,328}</string>
                <key>textureRect</key>
                <string>{{991,1},{328,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,328}</string>
                <key>spriteSourceSize</key>
                <string>{328,328}</string>
                <key>textureRect</key>
                <string>{{1321,1},{328,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,328}</string>
                <key>spriteSourceSize</key>
                <string>{328,328}</string>
                <key>textureRect</key>
                <string>{{1651,1},{328,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,328}</string>
                <key>spriteSourceSize</key>
                <string>{328,328}</string>
                <key>textureRect</key>
                <string>{{661,331},{328,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,328}</string>
                <key>spriteSourceSize</key>
                <string>{328,328}</string>
                <key>textureRect</key>
                <string>{{661,661},{328,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,328}</string>
                <key>spriteSourceSize</key>
                <string>{328,328}</string>
                <key>textureRect</key>
                <string>{{661,991},{328,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,328}</string>
                <key>spriteSourceSize</key>
                <string>{328,328}</string>
                <key>textureRect</key>
                <string>{{661,1321},{328,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,328}</string>
                <key>spriteSourceSize</key>
                <string>{328,328}</string>
                <key>textureRect</key>
                <string>{{991,331},{328,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,328}</string>
                <key>spriteSourceSize</key>
                <string>{328,328}</string>
                <key>textureRect</key>
                <string>{{1321,331},{328,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,328}</string>
                <key>spriteSourceSize</key>
                <string>{328,328}</string>
                <key>textureRect</key>
                <string>{{1651,331},{328,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,328}</string>
                <key>spriteSourceSize</key>
                <string>{328,328}</string>
                <key>textureRect</key>
                <string>{{991,661},{328,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,328}</string>
                <key>spriteSourceSize</key>
                <string>{328,328}</string>
                <key>textureRect</key>
                <string>{{991,991},{328,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,328}</string>
                <key>spriteSourceSize</key>
                <string>{328,328}</string>
                <key>textureRect</key>
                <string>{{991,1321},{328,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,328}</string>
                <key>spriteSourceSize</key>
                <string>{328,328}</string>
                <key>textureRect</key>
                <string>{{1321,661},{328,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,328}</string>
                <key>spriteSourceSize</key>
                <string>{328,328}</string>
                <key>textureRect</key>
                <string>{{1651,661},{328,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,328}</string>
                <key>spriteSourceSize</key>
                <string>{328,328}</string>
                <key>textureRect</key>
                <string>{{1321,991},{328,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>sun.png</string>
            <key>size</key>
            <string>{1980,1650}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:496beac9ffecdf17f92265e483d0b8b7:5a0af981029cee8b1f11389d10276ba0:501fcc3c135cea5e313584f1f66d63ef$</string>
            <key>textureFileName</key>
            <string>sun.png</string>
        </dict>
    </dict>
</plist>
